@media (max-width: 600px) {
  body {
      font-size: 14px;
      padding: 2px;
  }
}
.drop-shadow-custom {
filter: drop-shadow(1px 1px 50px #ff2d8b50);
}

@keyframes progressAnimation {
  0% { width: 0%; }
  100% { width: var(--progress-width); }
}




.menu-open {
  animation: slideIn 0.5s ease-out forwards;
}
.hidden.menu-open {
  animation: slideOut 0.5s ease-out forwards;
}



*{
    margin-top: 0;
    padding: 0;
    font-family:'Poppins' , sans-serif;
    box-sizing: border-box;
}

  
  .tablinks {
    @apply bg-gray-200 text-gray-600 cursor-pointer p-4 w-full border-none text-left outline-none text-base transition duration-400;
  }
  .tablinks:hover,.active {
    @apply bg-gray-300 ;
  }
  .tabcontent {
    @apply p-4 hidden bg-white overflow-hidden;
  }
  .tablinks.active {
    border-bottom: 3px solid rgb(195, 18, 80);
    animation-duration: 0.5s;
    transition-property: all;
  }
  



 .nav-items:hover{
    border-bottom: 2px solid rgb(239, 36, 70);
    animation-duration: 0.5s;
    transition-property: all;
  }